:root {
    --width: 400px;
    --foreground: DarkGrey;
    --foreground-alt: LightGrey;
    --foreground-alt-alt: DimGrey;
    --background: White;
    --font: 'Terminus (TTF)';
}

html,
body,
ul {
    margin: 0;
    padding: 0;
}

body {
    background: var(--background);
    height: 100%;
    width: 100%;
}

main {
    display: block;
    font-family: var(--font);
    left: 50%;
    position: absolute;
    top: 45%;
    transform: translate(-50%,-50%);
    width: 100%;
}

span {
    display: inline-block;
    font-size: 1.2em;
    line-height: 1.5;
    list-style: none;
    margin-left: 5px;
}

h1 {
    color: var(--foreground-alt-alt);
    display: block;
    margin: 0 auto;
    text-align: left;
    width: var(--width);
}

hr {
    border: 0;
    border-top: 1px solid var(--foreground-alt-alt);
    opacity: .4;
    width: var(--width);
    border-width: 2px
}

ul {
    display: block;
    margin: 0 auto;
    width: var(--width);
}

li {
    color: var(--foreground);
    display: inline-block;
    font-size: 1.2em;
    line-height: 1.5;
    list-style: none;
    margin: 5px;
}

a {
    color: var(--foreground-alt);
    text-decoration: none;
    transition: .2s;

}
a:hover {
    color: var(--foreground-alt-alt);
}
